.project {
  padding: 4rem 0;
}

.project-image {
  text-align: center;
}

.project-image.right {
  padding-left: 0;
}

.project-image.left {
  padding-right: 0;
}

.project-image img {
  max-inline-size: 100%;
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.project-title {
  align-self: flex-start;
  background: var(--primary-purple);
  box-shadow: -4px 4px 0 var(--white);
  color: var(--white);
  font: var(--fontHeadline5);
  padding: 0.4rem 0.8rem;
  text-decoration: none;
}

.project-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
}

.project-actions a {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .project {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    padding: 8rem 0;
  }
  .project-description {
    flex: 1;
    margin: 2.4rem;
    padding: 1rem;
  }
  .project-image.left {
    flex: 2;
    padding-right: 4rem;
  }
  .project-image.right {
    flex: 2;
    order: 2;
    padding-left: 4rem;
    text-align: center;
    vertical-align: baseline;
  }
  .project-actions {
    display: block;
  }
}